{% extends "base.htm"%}
{% load static %}

{% block title %} Diptam's Adaptive Quizes {% endblock %}

{% block css %}
<style>
    input {
        height: 50px;
        width: 350px;
        border-radius: 15px;
        padding-left: 10px;
    }
</style>
{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<section class="s1"  style="min-height: 80vh;">
    <div class="form-section">
        <div class="box box-1">
            <div class="heading">
                <h2>Adaptive Quiz System</h2>
                {% if user.first_name %}
                <h4>Hello, {{user.first_name}}</h4>
                {% else %}
                <h4>Hello, {{user.get_username}}</h4>
                {%endif%}
                <a href="{% url 'logout' %}" style="text-decoration: none; color:inherit; "><button>
                    Sign Out
                </button></a> 
                <p></p>
                <br>
                <br>
                <a href="{% url 'quiz' %}" style="text-decoration: none; color:inherit; "><button>
                    Available Quizes
                </button></a> 
                <h6>Previously Submitted Quizes</h6><br>
                {% for data in result_data %}
                <p style="width: 100%;">Quiz Name: {{data.quiz}} || Score: {{data.score}}</p>
                <br>
                {% endfor %}
            </div>
            
            
        </div>


    </div>

</section> 
{% else %}
<section class="s1"  style="min-height: 80vh;">
    <div class="form-section">
        <div class="box box-1">
            <div class="heading">
                <h2>Adaptive Quiz System</h2>                
                <p></p>
            </div>
            <a href="{% url 'dashboard' %}" style="text-decoration: none; color:inherit"><button class="talk">
                Sign Up
            </button></a>
            <a href="{% url 'login' %}" style="text-decoration: none; color:inherit"><button class="talk">
                Sign In
            </button></a>


            {% if user_auth == 'login' %}
            <form action="login" method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="User Name"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <input type="submit" name="submit" value="SIGN IN"><br>
            </form>
        
            <div class="error">
                <h3>
                    <!--Print the last message coming from messages error list-->
        
                    {% for message in messages %}
                    {{message}}
                    {%endfor%}
                </h3>
            </div>

            {% else %}
            <form action="register" method="POST">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="First Name"><br><br>
                <input type="text" name="last_name" placeholder="last Name"><br><br>
                <input type="text" name="username" placeholder="User Name"><br><br>
                <input type="email" name="email" placeholder="Email id"><br><br>
                <input type="password" name="password" placeholder="Password"><br><br>
                <input type="password" name="password2" placeholder="Confirm password"><br><br>
                <input type="submit" name="submit" value="SIGN UP">
            </form>
            <div class="error">
                <h3>
                    <!--Print the last message coming from messages error list-->
        
                    {% for message in messages %}
                    {{message}}
                    {%endfor%}
                </h3>
            </div>
            {% endif %}

        </div>


    </div>

</section> 

{% endif %}



{%endblock %} 


{% block scripts %}
    
{% endblock %}